/*
    Beatable Meat Portal STYLES definer file. Written by https://github.com/sabian-heatwave for Beatable Meat Portal"s frame code @ The Phoenix Project
        Copyright © 2020 The Phoenix Project
*/
/* 
    ALL HTML FILES WILL USE THESE STYLES DEFINED HERE UNLESS STATED OTHERWISE IN THE HTML FILE ITSELF.
*/
@font-face {
    font-family: "Beon";
    src: url("Beon-Regular.woff2") format("woff2"), url("Beon-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "D-DIN Exp";
    src: url("D-DINExp.woff2") format("woff2"), url("D-DINExp.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Beon;
    background-color: #000000;
}

h1 {
    font-family:Beon;
    color: white;
}

h2 {
    font-family:Beon;
    color: white;
}

h3 {
    font-family:Beon;
    color: white;
}

p {
    font-family:Beon;
    color: white;
}

a {
    font-family:Beon;
    color: white;
}
